body{
    background-color: cyan;
    text-align: center
}

img{
    border-width:20px;
    border-radius:15px;
    height:300px;
    width:350px;
    border-color: white;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}